@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Ubuntu", sans-serif;
}

.shadow {
  box-shadow: 0px 3px 30px -1px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 0px 3px 30px -1px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 3px 30px -1px rgba(0, 0, 0, 0.11);
}
